*{padding: 0px;
  margin: 0px;
  background-color: #4169E1;
}

.all{
  font-size: 250px;
  display: flex;
  justify-content: center;
  
}
.name1{
  color: white;
}
.motto{
  color: white;
  margin-left: 250px;
  font-size: 200;
}
.motto1{
  color: white;
  margin-left: 250px;
  font-size: 200;
}
.p{
  height: 50px;
}
.p1{
  height: 50px;
}
.gv1{
  color: white;
  margin-left: 250px;
  font-size: 250;
}
.gv{
  color: white;
 margin-left: 250px;
  font-size: 200;
}
.gv0{
  color: white;
 margin-left: 250px;
  font-size: 200;
}