*{padding: 0px;
  margin: 0px;
  background-color: #4169E1;
}

.all{
  font-size: 20px;
  display: flex;
  justify-content: center;
  display: table;
  
}
.name1{
  color: white;
  display: table-cell;
}
.motto{
  color: white;
  display: table-cell;
}
.motto1{
  color: white;
  display: table-cell;
}
.p{
  height: 50px;
  display: table-cell;
}
.gv1{
  color: white;
  display: table-cell;
  
}
.gv{
  color: white;
  display: table-cell;
}
.gv0{
  color: white;
  display: table-cell;
}